# Fichiers Python
*.pyc
__pycache__/

# Environnement virtuel
.env/

# Le dossier qui contient les fichiers csv
csv/

# Configuration locale Django
*.sqlite3
.env

# Logs et cache
logs/
*.log

# Les fichier bootstrap
bootstrap/