# Fichiers Python
*.pyc
__pycache__/

# Environnement virtuel
.env/

# Tout les fichiers csv dans le dossier csv/ 
*.csv

# Configuration locale Django
*.sqlite3
.env

# Logs et cache
logs/
*.log

# Les fichier bootstrap
bootstrap/